<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #1B1A21;
        }
        .text-orange {
            color: #F59E0B;
        }
        .btn-gradient {
            background: linear-gradient(to right, #d47c35, #e65406);
            color: #ffffff;
        }
        .btn-gradient:hover {
            opacity: 0.8;
        }
    </style>
</head>
<body>
    <div class="container mx-auto px-4 py-8">
        <h2 class="text-xl font-bold text-center mb-8 text-orange">Reset Password</h2>
        <form id="resetPasswordForm" class="flex flex-col space-y-4 items-center">
          <input type="hidden" id="token" value="{{ token }}">
          <div class="form-group">
            <label for="password" class="text-sm font-medium text-orange">New Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="password" id="password" name="password" required class="shadow-sm rounded-md border border-gray-300 py-2 px-4 focus:outline-none focus:ring-1 focus:ring-indigo-500 bg-gray-800 text-white">
          </div>
          <div class="form-group">
            <label for="confirm_password" class="text-sm font-medium text-orange">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required class="shadow-sm rounded-md border border-gray-300 py-2 px-4 focus:outline-none focus:ring-1 focus:ring-indigo-500 bg-gray-800 text-white">
          </div>
          <button type="submit" class="w-60 py-2 px-4 rounded-md shadow-sm btn-gradient hover:bg-gradient-to-r from-[#d47c35] to-[#ea580c] active:scale-90">Submit</button>
        </form>
    </div>
    <!-- SweetAlert2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('resetPasswordForm');
            
            form.addEventListener('submit', async (e) => {
                e.preventDefault();

                const token = document.getElementById('token').value;
                const password = document.getElementById('password').value;
                const confirmPassword = document.getElementById('confirm_password').value;

                if (password !== confirmPassword) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Passwords do not match.',
                    });
                    return;
                }

                try {
                    const response = await fetch(`/api/confirm_reset_password/${token}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ password, confirm_password: confirmPassword }),
                    });

                    const result = await response.json();
                    
                    if (response.ok) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success!',
                            text: result.message,
                        }).then(() => {
                            window.location.href = 'https://dinefinder.site/login';
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: result.message,
                        });
                    }
                } catch (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred.',
                    });
                }
            });
        });
    </script>
</body>
</html>